vagrant-setup/.vagrant/
*/.terraform.lock.hcl
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform/
databases/data/
databases/data-mariadb/
databases/uploads/
databases/.my.cnf
*/openvpn_ssh_key
*/openvpn_ssh_key.pub
